.Projects {
  padding: 10px;
  min-width: 400px;
  width: 100%;
  
  /* background-color: whitesmoke;
  border: 1px solid lightgrey; */
  border-top: none;

  display: inline-flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
}

/* For mobile */
@media screen and (max-width: 700px)  {
  .Projects {
    padding: 0;
  }
}