.Footer {
  padding: 100px 100px;
  text-align: center;
}

.Footer .linkDiv {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 24px;
  width: 100%;
  flex-wrap: wrap;
}

.linkDiv div {
  text-align: center;
  flex-grow: 1; 
  margin: 5px;
}

.linkDiv a {
  color: rgb(39, 145, 110);
}

@media screen and (max-width:600px) {
  .Footer {
    padding: 100px 10px;
  }
}