.whiteBg {
  background-color: white;
  padding: 10px;
  box-shadow: 0 0 2px rgba(0,0,0,0.2);
  text-align: center;
}

.projectsNav {
  max-width: 300px;
  margin: auto;
  padding: none;
}

.projectsNav * {
  flex-grow: 1;
  text-align: center;
}

.projectsContent {
  width: 100%;
}

.NavLink.nav-link {
  margin: 5px;
  box-shadow: 0 0 1px 1px rgba(0,0,0,0.2);
  background-color: whitesmoke;
  color: mediumseagreen;
}

.NavLink.nav-link:hover {
  background-color: gainsboro;
}

.NavLink.nav-link.active {
  background-color: mediumseagreen;
  color: white;
}

.portrait {
  height: 300px;
  border-radius: 150px;
  box-shadow: 0 0 2px 1px rgba(0,0,0,0.5);
}